<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subir archivos</title>
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>
    <h1>SUBIR ARCHIVOS</h1>
    <br><hr>
    <form>
        <input id="load_file" type="file" name="file">
        <input id="uploadFile" type="submit" value="SUBIR">
    </form>
    <!-- <button id="uploadFile">SUBIR</button>-->
    <script src="scripts/Script.js"></script>
</body>
</html>